ortools~=9.12.4544
pyyaml~=6.0.2
sqlalchemy~=2.0.41
matplotlib~=3.10.3
numpy~=2.2.6
pandas~=2.2.3
tabulate~=0.9.0
# Dependencies for analytics functionality

# Dependencies for API functionality
fastapi>=0.95.0
uvicorn>=0.21.1
pydantic>=2.0.0
pydantic-settings>=2.0.0
python-jose>=3.3.0
python-multipart>=0.0.6
redis==4.5.4
fastapi-cache2==0.2.1
python-json-logger==2.0.7
prometheus-client==0.16.0
starlette-prometheus==0.9.0

alembic~=1.15.2
jose~=1.0.0
starlette~=0.46.2